:root {
  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors - Primary */
  --clr-bg: hsl(233, 47%, 7%);          /* Navy 950 (main background) */
  --clr-card: hsl(244, 37%, 16%);       /* Blue 950 (card background) */
  --clr-accent: hsl(277, 64%, 61%);     /* Purple 500 (accent) */

  /* Colors - Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-paragraph: hsla(0, 0%, 100%, 0.75);
  --clr-stat-heading: hsla(0, 0%, 100%, 0.6);

  /* Typography */
  --fs-body: 15px;

  /* Fonts */
  --ff-inter: "Inter", sans-serif;
  --ff-lexend: "Lexend Deca", sans-serif;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
   background: var(--clr-bg);
   color: var(--clr-white);

  font-size: var(--fs-body);
  font-family: var(--ff-inter);

   margin: 0;
   padding: 0;
}

.container{
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1.5rem;
}

.card{
  background: var(--clr-card);
  max-width: var(--mobile);
  width: 100%;

  overflow: hidden;
  border-radius: 0.65rem;
}

.image-section{
  display: block;
  background: var(--clr-accent);
  line-height: 0;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.card-content{
  text-align: center;
  padding: 1.5rem 1rem 2.5rem;
}

.insights{
  color: var(--clr-accent);
}

.card-description{
  line-height: 1.5rem;
  color: var(--clr-paragraph);

  max-width: 30ch;
  margin: 0 auto 2rem;
}

.card-status{
  text-align: center;
}

.card-status h2{
  margin: 0;
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.card-status p{
  margin: 0.35rem 0 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: var(--clr-stat-heading);
}

.attribution{
  text-align: center;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: var(--clr-paragraph);
}

.attribution a{
  color: var(--clr-white);
}

@media (min-width: 1024px) {
  .card{
    display: flex;
    flex-direction: row-reverse; 
    max-width: 1100px;             
  }

  .image-section,
  .card-content{
    width: 100%;                   
  }

  .image-section img{
    height: 100%;
  }

  .card-content{
    text-align: left;
    padding: 4rem 0 4rem 4rem;                
    display: flex;
    flex-direction: column;
    justify-content: center;        
  }

  .card-title{
    max-width: 20ch;             
    margin: 0 0 1.5rem;
    font-size: 2.25rem;
    line-height: 1.2;
  }

  .card-description{
    max-width: 42ch;
    margin: 0 0 4rem;          
  }

  .card-status{
    display: flex;
    gap: 3.5rem;                   
    text-align: left;
  }

  .card-status p{
    margin: 0.5rem 0 0;         
  }
}








